*.log
*.out
slurm*
*.svg
*.sh
*.png
*.json
*.csv

# SMAC files
traj.json
traj_aclib2.json
traj_old.csv
scenario.txt
configspace.json
configspace.pcs
stats.json
runhistory.json

exp_sweep*
.ipynb_checkpoints
.idea/*
.spyproject/*
data/old/*
data/runs/*
data/results/*
tmp
outputs
multirun
rollout*.csv
*.egg*
logs

*__pycache__*
*pickle